In [1]:
pip install icecream

Requirement already satisfied: icecream in c:\users\hiseh\downloads\mta_turnstile\venv\lib\site-packages (2.1.2)
Requirement already satisfied: executing>=0.3.1 in c:\users\hiseh\downloads\mta_turnstile\venv\lib\site-packages (from icecream) (0.8.3)
Requirement already satisfied: pygments>=2.2.0 in c:\users\hiseh\downloads\mta_turnstile\venv\lib\site-packages (from icecream) (2.12.0)
Requirement already satisfied: asttokens>=2.0.1 in c:\users\hiseh\downloads\mta_turnstile\venv\lib\site-packages (from icecream) (2.0.5)
Requirement already satisfied: colorama>=0.3.9 in c:\users\hiseh\downloads\mta_turnstile\venv\lib\site-packages (from icecream) (0.4.5)
Requirement already satisfied: six in c:\users\hiseh\downloads\mta_turnstile\venv\lib\site-packages (from asttokens>=2.0.1->icecream) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.3.1; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\hiseh\Downloads\MTA_Turnstile\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [2]:
###importing necessary libraries

from bs4 import BeautifulSoup
import requests
import time
from random import randrange
from icecream import ic
import itertools
import wget

In [3]:
## Requesting web content

url = "http://web.mta.info/developers/turnstile.html"
response = requests.get(url)

In [4]:
## we add name of our file
soup = BeautifulSoup (response.text, "html.parser")

In [5]:
##targeting the div tag with the class "span-84" with the find

holder = soup.find("div", class_="span-84").find_all("a")

In [6]:
type(holder)

bs4.element.ResultSet

In [7]:
##adding base_url
base_url = "http://web.mta.info/developers/"

In [8]:
#adding the hrefs to the base_url
all_links = [base_url + item.get("href") for item in holder]

In [9]:
##withdrawing the wanted url links into a new list
links = ['http://web.mta.info/developers/data/nyct/turnstile/turnstile_220430.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220423.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220416.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220409.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220402.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220326.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220319.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220312.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220305.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220226.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220219.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220212.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220205.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220129.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220122.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220115.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_220108.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210501.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210424.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210417.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210410.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210403.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210327.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210320.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210313.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210306.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210227.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210220.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210213.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210206.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210130.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210123.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210116.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_210109.txt']

In [10]:
len(links)

34

##downloading all the wanted urls in the newlist

link_number = len(links)
link_count = 1

for link in links:
    ic(link)
    print (f"Downloaded {link_count} of {link_number}")
    link_count += 1

##downloading

    wget.download(link)
#snoozing and telling me for how long before the next downloads
    mysnoozerbug = randrange (2,7)
    print (f"Snoozing for {mysnoozerbug} seconds before next link")
    time.sleep(mysnoozerbug)

In [1]:

import os ## for file/folder management
from pathlib import Path ## to provide a path to files/folders
## import the glob library for collecting specific files into a list
import glob
import fileinput
import pandas as pd ## to export csv file

In [13]:
os.listdir()

['.idea',
 'MTA_Turnstile2.ipynb',
 'turnstile_210109.txt',
 'turnstile_210116.txt',
 'turnstile_210123.txt',
 'turnstile_210130.txt',
 'turnstile_210206.txt',
 'turnstile_210213.txt',
 'turnstile_210220.txt',
 'turnstile_210227.txt',
 'turnstile_210306.txt',
 'turnstile_210313.txt',
 'turnstile_210320.txt',
 'turnstile_210327.txt',
 'turnstile_210403.txt',
 'turnstile_210410.txt',
 'turnstile_210417.txt',
 'turnstile_210424.txt',
 'turnstile_210501.txt',
 'turnstile_220108.txt',
 'turnstile_220115.txt',
 'turnstile_220122.txt',
 'turnstile_220129.txt',
 'turnstile_220205.txt',
 'turnstile_220212.txt',
 'turnstile_220219.txt',
 'turnstile_220226.txt',
 'turnstile_220305.txt',
 'turnstile_220312.txt',
 'turnstile_220319.txt',
 'turnstile_220326.txt',
 'turnstile_220402.txt',
 'turnstile_220409.txt',
 'turnstile_220416.txt',
 'turnstile_220423.txt',
 'turnstile_220430.txt',
 'turnstile_data.ipynb',
 'turnstile_data.zip',
 'venv']

In [14]:
## let's capture the files in a list
txt_files = sorted( glob.glob("*.txt"))
txt_files

['turnstile_210109.txt',
 'turnstile_210116.txt',
 'turnstile_210123.txt',
 'turnstile_210130.txt',
 'turnstile_210206.txt',
 'turnstile_210213.txt',
 'turnstile_210220.txt',
 'turnstile_210227.txt',
 'turnstile_210306.txt',
 'turnstile_210313.txt',
 'turnstile_210320.txt',
 'turnstile_210327.txt',
 'turnstile_210403.txt',
 'turnstile_210410.txt',
 'turnstile_210417.txt',
 'turnstile_210424.txt',
 'turnstile_210501.txt',
 'turnstile_220108.txt',
 'turnstile_220115.txt',
 'turnstile_220122.txt',
 'turnstile_220129.txt',
 'turnstile_220205.txt',
 'turnstile_220212.txt',
 'turnstile_220219.txt',
 'turnstile_220226.txt',
 'turnstile_220305.txt',
 'turnstile_220312.txt',
 'turnstile_220319.txt',
 'turnstile_220326.txt',
 'turnstile_220402.txt',
 'turnstile_220409.txt',
 'turnstile_220416.txt',
 'turnstile_220423.txt',
 'turnstile_220430.txt']

In [2]:
## let's capture the 2021 files in a list
txt21_files = sorted( glob.glob("turnstile_21*.txt"))
txt21_files

['turnstile_210109.txt',
 'turnstile_210116.txt',
 'turnstile_210123.txt',
 'turnstile_210130.txt',
 'turnstile_210206.txt',
 'turnstile_210213.txt',
 'turnstile_210220.txt',
 'turnstile_210227.txt',
 'turnstile_210306.txt',
 'turnstile_210313.txt',
 'turnstile_210320.txt',
 'turnstile_210327.txt',
 'turnstile_210403.txt',
 'turnstile_210410.txt',
 'turnstile_210417.txt',
 'turnstile_210424.txt',
 'turnstile_210501.txt']

In [3]:
## let's capture the 2022 files in a list
txt22_files = sorted( glob.glob("turnstile_22*.txt"))
txt22_files

['turnstile_220108.txt',
 'turnstile_220115.txt',
 'turnstile_220122.txt',
 'turnstile_220129.txt',
 'turnstile_220205.txt',
 'turnstile_220212.txt',
 'turnstile_220219.txt',
 'turnstile_220226.txt',
 'turnstile_220305.txt',
 'turnstile_220312.txt',
 'turnstile_220319.txt',
 'turnstile_220326.txt',
 'turnstile_220402.txt',
 'turnstile_220409.txt',
 'turnstile_220416.txt',
 'turnstile_220423.txt',
 'turnstile_220430.txt']

In [6]:
len (txt22_files)

17

In [4]:
#working with the 2021 files
header = "C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS"
stations21 = []
date21 = []
entries21 = []
exits21 = []

In [5]:
##extracting data for the data dictionary
for line in fileinput.input(txt21_files):
    if line.startswith(header):
        continue
    data = line.split(",")
    stations21.append(data[3])
    date21.append(data[6])
    entries21.append(int(data[9]))
    exits21.append(int(data[10]))

In [7]:
data_dict21 = {
 "station": stations21,
 "date": date21,
 "entries": entries21,
 "exits": exits21
}
data_frame21 = pd.DataFrame(data_dict21)
data_frame21["date"] = pd.to_datetime(data_frame21["date"])
data_frame21["entries"] = pd.to_numeric(data_frame21["entries"])
data_frame21["exits"] = pd.to_numeric(data_frame21["exits"])

In [8]:
len(data_frame21)

3555794

In [9]:
stations21 = data_frame21.station.unique().tolist()

In [10]:
grouped_data21 = {}
for station in stations21:
    df = data_frame21.loc[data_frame21["station"] == station]
    grouped_data21[station] = df

In [13]:
grouped_data21_by_months = {}
for station in stations21:
    df = grouped_data21[station]
    january21_df = df.loc[df["date"].dt.month == 1]
    february21_df = df.loc[df["date"].dt.month == 2]
    march21_df = df.loc[df["date"].dt.month == 3]
    april21_df = df.loc[df["date"].dt.month == 4]
    grouped_data21_by_months[station] = {
        "january": january21_df,
        "february": february21_df,
        "march": march21_df,
        "april": april21_df
    }

In [14]:
grouped_data21_by_months[stations21[0]]["february"]

        station       date    entries    exits
837819    59 ST 2021-02-01    7525092  2564916
837820    59 ST 2021-02-01    7525094  2564932
837821    59 ST 2021-02-01    7525113  2564991
837822    59 ST 2021-02-01    7525206  2565011
837823    59 ST 2021-02-01    7525244  2565023
...         ...        ...        ...      ...
1840410   59 ST 2021-02-28  117511805   787573
1840411   59 ST 2021-02-28  117511805   787579
1840412   59 ST 2021-02-28  117511805   787604
1840413   59 ST 2021-02-28  117511808   787627
1840414   59 ST 2021-02-28  117511812   787632

[9397 rows x 4 columns]

In [21]:
total21_by_months = {}
for station in stations21:
    print(f"On station {station} -> {stations21.index(station)} of {len(stations21)}")
    total21_by_months[station] = {}
    for month in grouped_data21_by_months[station]:
        df = grouped_data21_by_months[station][month]
        entries21 = df["entries"].sum()
        exits21 = df["exits"].sum()
        total21_by_months[station][month] = {
            "entries": entries21,
            "exits": exits21
        }

On station 59 ST -> 0 of 378
On station 5 AV/59 ST -> 1 of 378
On station 57 ST-7 AV -> 2 of 378
On station 49 ST -> 3 of 378
On station TIMES SQ-42 ST -> 4 of 378
On station 34 ST-HERALD SQ -> 5 of 378
On station 28 ST -> 6 of 378
On station 23 ST -> 7 of 378
On station 14 ST-UNION SQ -> 8 of 378
On station 8 ST-NYU -> 9 of 378
On station PRINCE ST -> 10 of 378
On station CANAL ST -> 11 of 378
On station CITY HALL -> 12 of 378
On station CORTLANDT ST -> 13 of 378
On station RECTOR ST -> 14 of 378
On station WHITEHALL S-FRY -> 15 of 378
On station DELANCEY/ESSEX -> 16 of 378
On station BOWERY -> 17 of 378
On station CHAMBERS ST -> 18 of 378
On station FULTON ST -> 19 of 378
On station BROAD ST -> 20 of 378
On station 7 AV -> 21 of 378
On station PARK PLACE -> 22 of 378
On station BOTANIC GARDEN -> 23 of 378
On station PROSPECT PARK -> 24 of 378
On station PARKSIDE AV -> 25 of 378
On station CHURCH AV -> 26 of 378
On station BEVERLEY ROAD -> 27 of 378
On station CORTELYOU RD -> 28 of 378
On station NEWKIRK PLAZA -> 29 of 378
On station AVENUE H -> 30 of 378
On station AVENUE J -> 31 of 378
On station AVENUE M -> 32 of 378
On station KINGS HWY -> 33 of 378
On station AVENUE U -> 34 of 378
On station NECK RD -> 35 of 378
On station SHEEPSHEAD BAY -> 36 of 378
On station BRIGHTON BEACH -> 37 of 378
On station OCEAN PKWY -> 38 of 378
On station BOROUGH HALL -> 39 of 378
On station JAY ST-METROTEC -> 40 of 378
On station DEKALB AV -> 41 of 378
On station ATL AV-BARCLAY -> 42 of 378
On station UNION ST -> 43 of 378
On station 4AV-9 ST -> 44 of 378
On station PROSPECT AV -> 45 of 378
On station 25 ST -> 46 of 378
On station 36 ST -> 47 of 378
On station 45 ST -> 48 of 378
On station 53 ST -> 49 of 378
On station BAY RIDGE AV -> 50 of 378
On station 77 ST -> 51 of 378
On station 86 ST -> 52 of 378
On station BAY RIDGE-95 ST -> 53 of 378
On station 8 AV -> 54 of 378
On station FT HAMILTON PKY -> 55 of 378
On station NEW UTRECHT AV -> 56 of 378
On station 18 AV -> 57 of 378
On station 20 AV -> 58 of 378
On station BAY PKWY -> 59 of 378
On station 9 AV -> 60 of 378
On station 50 ST -> 61 of 378
On station 55 ST -> 62 of 378
On station 71 ST -> 63 of 378
On station 79 ST -> 64 of 378
On station 25 AV -> 65 of 378
On station BAY 50 ST -> 66 of 378
On station CONEY IS-STILLW -> 67 of 378
On station W 8 ST-AQUARIUM -> 68 of 378
On station 6 AV -> 69 of 378
On station 3 AV -> 70 of 378
On station 1 AV -> 71 of 378
On station BEDFORD AV -> 72 of 378
On station LORIMER ST -> 73 of 378
On station GRAHAM AV -> 74 of 378
On station GRAND ST -> 75 of 378
On station MONTROSE AV -> 76 of 378
On station MORGAN AV -> 77 of 378
On station JEFFERSON ST -> 78 of 378
On station MYRTLE-WYCKOFF -> 79 of 378
On station HALSEY ST -> 80 of 378
On station WILSON AV -> 81 of 378
On station BUSHWICK AV -> 82 of 378
On station ATLANTIC AV -> 83 of 378
On station SUTTER AV -> 84 of 378
On station LIVONIA AV -> 85 of 378
On station NEW LOTS -> 86 of 378
On station EAST 105 ST -> 87 of 378
On station CANARSIE-ROCKAW -> 88 of 378
On station HOWARD BCH JFK -> 89 of 378
On station JFK JAMAICA CT1 -> 90 of 378
On station MARCY AV -> 91 of 378
On station HEWES ST -> 92 of 378
On station FLUSHING AV -> 93 of 378
On station MYRTLE AV -> 94 of 378
On station KOSCIUSZKO ST -> 95 of 378
On station GATES AV -> 96 of 378
On station CHAUNCEY ST -> 97 of 378
On station ALABAMA AV -> 98 of 378
On station VAN SICLEN AV -> 99 of 378
On station CLEVELAND ST -> 100 of 378
On station NORWOOD AV -> 101 of 378
On station CRESCENT ST -> 102 of 378
On station CYPRESS HILLS -> 103 of 378
On station 75 ST-ELDERTS -> 104 of 378
On station 85 ST-FOREST PK -> 105 of 378
On station WOODHAVEN BLVD -> 106 of 378
On station 104 ST -> 107 of 378
On station 111 ST -> 108 of 378
On station 121 ST -> 109 of 378
On station CENTRAL AV -> 110 of 378
On station KNICKERBOCKER -> 111 of 378
On station SENECA AVE -> 112 of 378
On station FOREST AVE -> 113 of 378
On station FRESH POND RD -> 114 of 378
On station METROPOLITAN AV -> 115 of 378
On station INWOOD-207 ST -> 116 of 378
On station DYCKMAN ST -> 117 of 378
On station 190 ST -> 118 of 378
On station 181 ST -> 119 of 378
On station 175 ST -> 120 of 378
On station 168 ST -> 121 of 378
On station 163 ST-AMSTERDM -> 122 of 378
On station 155 ST -> 123 of 378
On station 145 ST -> 124 of 378
On station 135 ST -> 125 of 378
On station 125 ST -> 126 of 378
On station 116 ST -> 127 of 378
On station CATHEDRAL PKWY -> 128 of 378
On station 103 ST -> 129 of 378
On station 96 ST -> 130 of 378
On station 81 ST-MUSEUM -> 131 of 378
On station 72 ST -> 132 of 378
On station 59 ST COLUMBUS -> 133 of 378
On station 42 ST-PORT AUTH -> 134 of 378
On station 34 ST-PENN STA -> 135 of 378
On station 14 ST -> 136 of 378
On station W 4 ST-WASH SQ -> 137 of 378
On station SPRING ST -> 138 of 378
On station WORLD TRADE CTR -> 139 of 378
On station HIGH ST -> 140 of 378
On station HOYT-SCHER -> 141 of 378
On station LAFAYETTE AV -> 142 of 378
On station CLINTON-WASH AV -> 143 of 378
On station FRANKLIN AV -> 144 of 378
On station NOSTRAND AV -> 145 of 378
On station KINGSTON-THROOP -> 146 of 378
On station UTICA AV -> 147 of 378
On station RALPH AV -> 148 of 378
On station ROCKAWAY AV -> 149 of 378
On station BROADWAY JCT -> 150 of 378
On station LIBERTY AV -> 151 of 378
On station VAN SICLEN AVE -> 152 of 378
On station SHEPHERD AV -> 153 of 378
On station EUCLID AV -> 154 of 378
On station GRANT AV -> 155 of 378
On station 80 ST -> 156 of 378
On station 88 ST -> 157 of 378
On station ROCKAWAY BLVD -> 158 of 378
On station OZONE PK LEFFRT -> 159 of 378
On station AQUEDUCT N.COND -> 160 of 378
On station AQUEDUCT RACETR -> 161 of 378
On station BROAD CHANNEL -> 162 of 378
On station BEACH 90 ST -> 163 of 378
On station BEACH 98 ST -> 164 of 378
On station BEACH 105 ST -> 165 of 378
On station ROCKAWAY PARK B -> 166 of 378
On station BEACH 67 ST -> 167 of 378
On station BEACH 60 ST -> 168 of 378
On station BEACH 44 ST -> 169 of 378
On station BEACH 36 ST -> 170 of 378
On station BEACH 25 ST -> 171 of 378
On station FAR ROCKAWAY -> 172 of 378
On station 161/YANKEE STAD -> 173 of 378
On station 167 ST -> 174 of 378
On station 170 ST -> 175 of 378
On station 174-175 STS -> 176 of 378
On station TREMONT AV -> 177 of 378
On station 182-183 STS -> 178 of 378
On station FORDHAM RD -> 179 of 378
On station KINGSBRIDGE RD -> 180 of 378
On station BEDFORD PK BLVD -> 181 of 378
On station NORWOOD 205 ST -> 182 of 378
On station 5 AV/53 ST -> 183 of 378
On station LEXINGTON AV/53 -> 184 of 378
On station COURT SQ-23 ST -> 185 of 378
On station QUEENS PLAZA -> 186 of 378
On station STEINWAY ST -> 187 of 378
On station 46 ST -> 188 of 378
On station NORTHERN BLVD -> 189 of 378
On station 65 ST -> 190 of 378
On station JKSN HT-ROOSVLT -> 191 of 378
On station ELMHURST AV -> 192 of 378
On station GRAND-NEWTOWN -> 193 of 378
On station 63 DR-REGO PARK -> 194 of 378
On station 67 AV -> 195 of 378
On station FOREST HILLS 71 -> 196 of 378
On station 75 AV -> 197 of 378
On station KEW GARDENS -> 198 of 378
On station BRIARWOOD -> 199 of 378
On station SUTPHIN BLVD -> 200 of 378
On station PARSONS BLVD -> 201 of 378
On station 169 ST -> 202 of 378
On station JAMAICA 179 ST -> 203 of 378
On station COURT SQ -> 204 of 378
On station 21 ST -> 205 of 378
On station GREENPOINT AV -> 206 of 378
On station NASSAU AV -> 207 of 378
On station BROADWAY -> 208 of 378
On station MYRTLE-WILLOUGH -> 209 of 378
On station BEDFORD-NOSTRAN -> 210 of 378
On station CLASSON AV -> 211 of 378
On station 47-50 STS ROCK -> 212 of 378
On station 42 ST-BRYANT PK -> 213 of 378
On station B'WAY-LAFAYETTE -> 214 of 378
On station 2 AV -> 215 of 378
On station EAST BROADWAY -> 216 of 378
On station YORK ST -> 217 of 378
On station BERGEN ST -> 218 of 378
On station CARROLL ST -> 219 of 378
On station SMITH-9 ST -> 220 of 378
On station 4 AV-9 ST -> 221 of 378
On station 15 ST-PROSPECT -> 222 of 378
On station DITMAS AV -> 223 of 378
On station AVENUE I -> 224 of 378
On station AVENUE N -> 225 of 378
On station AVENUE P -> 226 of 378
On station AVENUE X -> 227 of 378
On station NEPTUNE AV -> 228 of 378
On station 57 ST -> 229 of 378
On station LEXINGTON AV/63 -> 230 of 378
On station ROOSEVELT ISLND -> 231 of 378
On station 21 ST-QNSBRIDGE -> 232 of 378
On station JAMAICA VAN WK -> 233 of 378
On station SUTPHIN-ARCHER -> 234 of 378
On station JAMAICA CENTER -> 235 of 378
On station 72 ST-2 AVE -> 236 of 378
On station 86 ST-2 AVE -> 237 of 378
On station 96 ST-2 AVE -> 238 of 378
On station NEWARK HW BMEBE -> 239 of 378
On station HARRISON -> 240 of 378
On station JOURNAL SQUARE -> 241 of 378
On station GROVE STREET -> 242 of 378
On station EXCHANGE PLACE -> 243 of 378
On station PAVONIA/NEWPORT -> 244 of 378
On station CITY / BUS -> 245 of 378
On station CHRISTOPHER ST -> 246 of 378
On station 9TH STREET -> 247 of 378
On station 14TH STREET -> 248 of 378
On station TWENTY THIRD ST -> 249 of 378
On station THIRTY ST -> 250 of 378
On station LACKAWANNA -> 251 of 378
On station THIRTY THIRD ST -> 252 of 378
On station NEWARK BM BW -> 253 of 378
On station NEWARK C -> 254 of 378
On station NEWARK HM HE -> 255 of 378
On station PATH WTC 2 -> 256 of 378
On station PATH NEW WTC -> 257 of 378
On station SOUTH FERRY -> 258 of 378
On station WTC-CORTLANDT -> 259 of 378
On station WALL ST -> 260 of 378
On station FRANKLIN ST -> 261 of 378
On station HOUSTON ST -> 262 of 378
On station 18 ST -> 263 of 378
On station 66 ST-LINCOLN -> 264 of 378
On station 116 ST-COLUMBIA -> 265 of 378
On station 137 ST CITY COL -> 266 of 378
On station 157 ST -> 267 of 378
On station 191 ST -> 268 of 378
On station 207 ST -> 269 of 378
On station 215 ST -> 270 of 378

On station MARBLE HILL-225 -> 271 of 378
On station 231 ST -> 272 of 378
On station 238 ST -> 273 of 378
On station V.CORTLANDT PK -> 274 of 378
On station BOWLING GREEN -> 275 of 378
On station BROOKLYN BRIDGE -> 276 of 378
On station BLEECKER ST -> 277 of 378
On station ASTOR PL -> 278 of 378
On station 33 ST -> 279 of 378
On station GRD CNTRL-42 ST -> 280 of 378
On station 51 ST -> 281 of 378
On station 68ST-HUNTER CO -> 282 of 378
On station 110 ST -> 283 of 378
On station 138/GRAND CONC -> 284 of 378
On station 149/GRAND CONC -> 285 of 378
On station MT EDEN AV -> 286 of 378
On station 176 ST -> 287 of 378
On station BURNSIDE AV -> 288 of 378
On station 183 ST -> 289 of 378
On station MOSHOLU PKWY -> 290 of 378
On station WOODLAWN -> 291 of 378
On station CENTRAL PK N110 -> 292 of 378
On station HARLEM 148 ST -> 293 of 378
On station 3 AV-149 ST -> 294 of 378
On station JACKSON AV -> 295 of 378
On station INTERVALE AV -> 296 of 378
On station SIMPSON ST -> 297 of 378
On station FREEMAN ST -> 298 of 378
On station 174 ST -> 299 of 378
On station WEST FARMS SQ -> 300 of 378
On station E 180 ST -> 301 of 378
On station BRONX PARK EAST -> 302 of 378
On station PELHAM PKWY -> 303 of 378
On station ALLERTON AV -> 304 of 378
On station BURKE AV -> 305 of 378
On station GUN HILL RD -> 306 of 378
On station 219 ST -> 307 of 378
On station 225 ST -> 308 of 378
On station 233 ST -> 309 of 378
On station NEREID AV -> 310 of 378
On station WAKEFIELD/241 -> 311 of 378
On station 3 AV 138 ST -> 312 of 378
On station BROOK AV -> 313 of 378
On station CYPRESS AV -> 314 of 378
On station E 143/ST MARY'S -> 315 of 378
On station E 149 ST -> 316 of 378
On station LONGWOOD AV -> 317 of 378
On station HUNTS POINT AV -> 318 of 378
On station WHITLOCK AV -> 319 of 378
On station ELDER AV -> 320 of 378
On station MORISN AV/SNDVW -> 321 of 378
On station ST LAWRENCE AV -> 322 of 378
On station PARKCHESTER -> 323 of 378
On station CASTLE HILL AV -> 324 of 378
On station ZEREGA AV -> 325 of 378
On station WESTCHESTER SQ -> 326 of 378
On station MIDDLETOWN RD -> 327 of 378
On station BUHRE AV -> 328 of 378
On station PELHAM BAY PARK -> 329 of 378
On station 5 AVE -> 330 of 378
On station VERNON-JACKSON -> 331 of 378
On station HUNTERS PT AV -> 332 of 378
On station QUEENSBORO PLZ -> 333 of 378
On station 39 AV -> 334 of 378
On station 36 AV -> 335 of 378
On station 30 AV -> 336 of 378
On station ASTORIA BLVD -> 337 of 378
On station ASTORIA DITMARS -> 338 of 378
On station 33 ST-RAWSON ST -> 339 of 378
On station 40 ST LOWERY ST -> 340 of 378
On station 46 ST BLISS ST -> 341 of 378
On station 52 ST -> 342 of 378
On station 61 ST WOODSIDE -> 343 of 378
On station 69 ST -> 344 of 378
On station 74 ST-BROADWAY -> 345 of 378
On station 82 ST-JACKSON H -> 346 of 378
On station 90 ST-ELMHURST -> 347 of 378
On station JUNCTION BLVD -> 348 of 378
On station 103 ST-CORONA -> 349 of 378
On station METS-WILLETS PT -> 350 of 378
On station FLUSHING-MAIN -> 351 of 378
On station 34 ST-HUDSON YD -> 352 of 378
On station CLARK ST -> 353 of 378
On station HOYT ST -> 354 of 378
On station NEVINS ST -> 355 of 378
On station GRAND ARMY PLAZ -> 356 of 378
On station EASTN PKWY-MUSM -> 357 of 378
On station KINGSTON AV -> 358 of 378
On station CROWN HTS-UTICA -> 359 of 378
On station SUTTER AV-RUTLD -> 360 of 378
On station SARATOGA AV -> 361 of 378
On station JUNIUS ST -> 362 of 378
On station PENNSYLVANIA AV -> 363 of 378
On station NEW LOTS AV -> 364 of 378
On station PRESIDENT ST -> 365 of 378
On station STERLING ST -> 366 of 378
On station WINTHROP ST -> 367 of 378
On station BEVERLY RD -> 368 of 378
On station NEWKIRK AV -> 369 of 378
On station FLATBUSH AV-B.C -> 370 of 378
On station MORRIS PARK -> 371 of 378
On station BAYCHESTER AV -> 372 of 378
On station EASTCHSTER/DYRE -> 373 of 378
On station ST. GEORGE -> 374 of 378
On station TOMPKINSVILLE -> 375 of 378
On station RIT-MANHATTAN -> 376 of 378
On station RIT-ROOSEVELT -> 377 of 378

In [ ]:
    print(f"On station {station} -> {stations21.index(station)} of {len(stations21)}")

In [18]:
total21_by_months[stations21[0]]["february"]["exits"]

156441063622

In [19]:
total21_by_months[stations21[0]]

{'january': {'entries': 257160916808, 'exits': 171447794538},
 'february': {'entries': 234971113872, 'exits': 156441063622},
 'march': {'entries': 259936029691, 'exits': 172861601768},
 'april': {'entries': 250669684892, 'exits': 166250530744}}

## 2022 turnstile txts

In [24]:
##working with 2022 files
header = "C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS"
stations22 = []
date22 = []
entries22 = []
exits22 = []

In [25]:
for line in fileinput.input(txt22_files):
    if line.startswith(header):
        continue
    data = line.split(",")
    stations22.append(data[3])
    date22.append(data[6])
    entries22.append(int(data[9]))
    exits22.append(int(data[10]))

In [26]:
data_dict22 = {
 "station": stations22,
 "date": date22,
 "entries": entries22,
 "exits": exits22
}
data_frame22 = pd.DataFrame(data_dict22)
data_frame22["date"] = pd.to_datetime(data_frame22["date"])
data_frame22["entries"] = pd.to_numeric(data_frame22["entries"])
data_frame22["exits"] = pd.to_numeric(data_frame22["exits"])

In [27]:
len(data_frame22)

3574898

In [28]:
stations22 = data_frame22.station.unique().tolist()

In [29]:
grouped_data22 = {}
for station in stations22:
    df = data_frame22.loc[data_frame22["station"] == station]
    grouped_data22[station] = df

In [30]:
grouped_data22_by_months = {}
for station in stations22:
    df = grouped_data22[station]
    january22_df = df.loc[df["date"].dt.month == 1]
    february22_df = df.loc[df["date"].dt.month == 2]
    march22_df = df.loc[df["date"].dt.month == 3]
    april22_df = df.loc[df["date"].dt.month == 4]
    grouped_data22_by_months[station] = {
        "january": january22_df,
        "february": february22_df,
        "march": march22_df,
        "april": april22_df
    }

In [31]:
grouped_data22_by_months[stations22[0]]["february"]

        station       date    entries    exits
838946    59 ST 2022-02-01    7682954  2660457
838947    59 ST 2022-02-01    7682957  2660504
838948    59 ST 2022-02-01    7682993  2660730
838949    59 ST 2022-02-01    7683046  2660795
838950    59 ST 2022-02-01    7683194  2660874
...         ...        ...        ...      ...
1845795   59 ST 2022-02-28  117530806   893833
1845796   59 ST 2022-02-28  117530811   893913
1845797   59 ST 2022-02-28  117530825   894030
1845798   59 ST 2022-02-28  117530874   894180
1845799   59 ST 2022-02-28  117530882   894228

[9458 rows x 4 columns]

In [37]:
total22_by_months = {}
for station in stations22:
    print(f"On station {station} -> {stations22.index(station)} of {len(stations22)}")
    total22_by_months[station] = {}
    for month in grouped_data22_by_months[station]:
        df = grouped_data22_by_months[station][month]
        entries22 = df["entries"].sum()
        exits22 = df["exits"].sum()
        total22_by_months[station][month] = {
            "entries": entries22,
            "exits": exits22
        }

On station 59 ST -> 0 of 378
On station 5 AV/59 ST -> 1 of 378
On station 57 ST-7 AV -> 2 of 378
On station 49 ST -> 3 of 378
On station TIMES SQ-42 ST -> 4 of 378
On station 34 ST-HERALD SQ -> 5 of 378
On station 28 ST -> 6 of 378
On station 23 ST -> 7 of 378
On station 14 ST-UNION SQ -> 8 of 378
On station 8 ST-NYU -> 9 of 378
On station PRINCE ST -> 10 of 378
On station CANAL ST -> 11 of 378
On station CITY HALL -> 12 of 378
On station CORTLANDT ST -> 13 of 378
On station RECTOR ST -> 14 of 378
On station WHITEHALL S-FRY -> 15 of 378
On station DELANCEY/ESSEX -> 16 of 378
On station BOWERY -> 17 of 378
On station CHAMBERS ST -> 18 of 378
On station FULTON ST -> 19 of 378
On station BROAD ST -> 20 of 378
On station 7 AV -> 21 of 378
On station PARK PLACE -> 22 of 378
On station BOTANIC GARDEN -> 23 of 378
On station PROSPECT PARK -> 24 of 378
On station PARKSIDE AV -> 25 of 378
On station CHURCH AV -> 26 of 378
On station BEVERLEY ROAD -> 27 of 378
On station CORTELYOU RD -> 28 of 378
On station NEWKIRK PLAZA -> 29 of 378
On station AVENUE H -> 30 of 378
On station AVENUE J -> 31 of 378
On station AVENUE M -> 32 of 378
On station KINGS HWY -> 33 of 378
On station AVENUE U -> 34 of 378
On station NECK RD -> 35 of 378
On station SHEEPSHEAD BAY -> 36 of 378
On station BRIGHTON BEACH -> 37 of 378
On station OCEAN PKWY -> 38 of 378
On station BOROUGH HALL -> 39 of 378
On station JAY ST-METROTEC -> 40 of 378
On station DEKALB AV -> 41 of 378
On station ATL AV-BARCLAY -> 42 of 378
On station UNION ST -> 43 of 378
On station 4AV-9 ST -> 44 of 378
On station PROSPECT AV -> 45 of 378
On station 25 ST -> 46 of 378
On station 36 ST -> 47 of 378
On station 45 ST -> 48 of 378
On station 53 ST -> 49 of 378
On station BAY RIDGE AV -> 50 of 378
On station 77 ST -> 51 of 378
On station 86 ST -> 52 of 378
On station BAY RIDGE-95 ST -> 53 of 378
On station 8 AV -> 54 of 378
On station FT HAMILTON PKY -> 55 of 378
On station NEW UTRECHT AV -> 56 of 378
On station 18 AV -> 57 of 378
On station 20 AV -> 58 of 378
On station BAY PKWY -> 59 of 378
On station 9 AV -> 60 of 378
On station 50 ST -> 61 of 378
On station 55 ST -> 62 of 378
On station 71 ST -> 63 of 378
On station 79 ST -> 64 of 378
On station 25 AV -> 65 of 378
On station BAY 50 ST -> 66 of 378
On station CONEY IS-STILLW -> 67 of 378
On station W 8 ST-AQUARIUM -> 68 of 378
On station 6 AV -> 69 of 378
On station 3 AV -> 70 of 378
On station 1 AV -> 71 of 378
On station BEDFORD AV -> 72 of 378
On station LORIMER ST -> 73 of 378
On station GRAHAM AV -> 74 of 378
On station GRAND ST -> 75 of 378
On station MONTROSE AV -> 76 of 378
On station MORGAN AV -> 77 of 378
On station JEFFERSON ST -> 78 of 378
On station MYRTLE-WYCKOFF -> 79 of 378
On station HALSEY ST -> 80 of 378
On station WILSON AV -> 81 of 378
On station BUSHWICK AV -> 82 of 378
On station ATLANTIC AV -> 83 of 378
On station SUTTER AV -> 84 of 378
On station LIVONIA AV -> 85 of 378
On station NEW LOTS -> 86 of 378
On station EAST 105 ST -> 87 of 378
On station CANARSIE-ROCKAW -> 88 of 378
On station HOWARD BCH JFK -> 89 of 378
On station JFK JAMAICA CT1 -> 90 of 378
On station MARCY AV -> 91 of 378
On station HEWES ST -> 92 of 378
On station FLUSHING AV -> 93 of 378
On station MYRTLE AV -> 94 of 378
On station KOSCIUSZKO ST -> 95 of 378
On station GATES AV -> 96 of 378
On station CHAUNCEY ST -> 97 of 378
On station ALABAMA AV -> 98 of 378
On station VAN SICLEN AV -> 99 of 378
On station CLEVELAND ST -> 100 of 378
On station NORWOOD AV -> 101 of 378
On station CRESCENT ST -> 102 of 378
On station CYPRESS HILLS -> 103 of 378
On station 75 ST-ELDERTS -> 104 of 378
On station 85 ST-FOREST PK -> 105 of 378
On station WOODHAVEN BLVD -> 106 of 378
On station 104 ST -> 107 of 378
On station 111 ST -> 108 of 378
On station 121 ST -> 109 of 378
On station CENTRAL AV -> 110 of 378
On station KNICKERBOCKER -> 111 of 378
On station SENECA AVE -> 112 of 378
On station FOREST AVE -> 113 of 378
On station FRESH POND RD -> 114 of 378
On station METROPOLITAN AV -> 115 of 378
On station INWOOD-207 ST -> 116 of 378
On station DYCKMAN ST -> 117 of 378
On station 190 ST -> 118 of 378
On station 181 ST -> 119 of 378
On station 175 ST -> 120 of 378
On station 168 ST -> 121 of 378
On station 163 ST-AMSTERDM -> 122 of 378
On station 155 ST -> 123 of 378
On station 145 ST -> 124 of 378
On station 135 ST -> 125 of 378
On station 125 ST -> 126 of 378
On station 116 ST -> 127 of 378
On station CATHEDRAL PKWY -> 128 of 378
On station 103 ST -> 129 of 378
On station 96 ST -> 130 of 378
On station 81 ST-MUSEUM -> 131 of 378
On station 72 ST -> 132 of 378
On station 59 ST COLUMBUS -> 133 of 378
On station 42 ST-PORT AUTH -> 134 of 378
On station 34 ST-PENN STA -> 135 of 378
On station 14 ST -> 136 of 378
On station W 4 ST-WASH SQ -> 137 of 378
On station SPRING ST -> 138 of 378
On station WORLD TRADE CTR -> 139 of 378
On station HIGH ST -> 140 of 378
On station HOYT-SCHER -> 141 of 378
On station LAFAYETTE AV -> 142 of 378
On station CLINTON-WASH AV -> 143 of 378
On station FRANKLIN AV -> 144 of 378
On station NOSTRAND AV -> 145 of 378
On station KINGSTON-THROOP -> 146 of 378
On station UTICA AV -> 147 of 378
On station RALPH AV -> 148 of 378
On station ROCKAWAY AV -> 149 of 378
On station BROADWAY JCT -> 150 of 378
On station LIBERTY AV -> 151 of 378
On station VAN SICLEN AVE -> 152 of 378
On station SHEPHERD AV -> 153 of 378
On station EUCLID AV -> 154 of 378
On station GRANT AV -> 155 of 378
On station 80 ST -> 156 of 378
On station 88 ST -> 157 of 378
On station ROCKAWAY BLVD -> 158 of 378
On station OZONE PK LEFFRT -> 159 of 378
On station AQUEDUCT N.COND -> 160 of 378
On station AQUEDUCT RACETR -> 161 of 378
On station BROAD CHANNEL -> 162 of 378
On station BEACH 90 ST -> 163 of 378
On station BEACH 98 ST -> 164 of 378
On station BEACH 105 ST -> 165 of 378
On station ROCKAWAY PARK B -> 166 of 378
On station BEACH 67 ST -> 167 of 378
On station BEACH 60 ST -> 168 of 378
On station BEACH 44 ST -> 169 of 378
On station BEACH 36 ST -> 170 of 378
On station BEACH 25 ST -> 171 of 378
On station FAR ROCKAWAY -> 172 of 378
On station 161/YANKEE STAD -> 173 of 378
On station 167 ST -> 174 of 378
On station 170 ST -> 175 of 378
On station 174-175 STS -> 176 of 378
On station TREMONT AV -> 177 of 378
On station 182-183 STS -> 178 of 378
On station FORDHAM RD -> 179 of 378
On station KINGSBRIDGE RD -> 180 of 378
On station BEDFORD PK BLVD -> 181 of 378
On station NORWOOD 205 ST -> 182 of 378
On station 5 AV/53 ST -> 183 of 378
On station LEXINGTON AV/53 -> 184 of 378
On station COURT SQ-23 ST -> 185 of 378
On station QUEENS PLAZA -> 186 of 378
On station STEINWAY ST -> 187 of 378
On station 46 ST -> 188 of 378
On station NORTHERN BLVD -> 189 of 378
On station 65 ST -> 190 of 378
On station JKSN HT-ROOSVLT -> 191 of 378
On station ELMHURST AV -> 192 of 378
On station GRAND-NEWTOWN -> 193 of 378
On station 63 DR-REGO PARK -> 194 of 378
On station 67 AV -> 195 of 378
On station FOREST HILLS 71 -> 196 of 378
On station 75 AV -> 197 of 378
On station KEW GARDENS -> 198 of 378
On station BRIARWOOD -> 199 of 378
On station SUTPHIN BLVD -> 200 of 378
On station PARSONS BLVD -> 201 of 378
On station 169 ST -> 202 of 378
On station JAMAICA 179 ST -> 203 of 378
On station COURT SQ -> 204 of 378
On station 21 ST -> 205 of 378
On station GREENPOINT AV -> 206 of 378
On station NASSAU AV -> 207 of 378
On station BROADWAY -> 208 of 378
On station MYRTLE-WILLOUGH -> 209 of 378
On station BEDFORD-NOSTRAN -> 210 of 378
On station CLASSON AV -> 211 of 378
On station 47-50 STS ROCK -> 212 of 378
On station 42 ST-BRYANT PK -> 213 of 378
On station B'WAY-LAFAYETTE -> 214 of 378
On station 2 AV -> 215 of 378
On station EAST BROADWAY -> 216 of 378
On station YORK ST -> 217 of 378
On station BERGEN ST -> 218 of 378
On station CARROLL ST -> 219 of 378
On station SMITH-9 ST -> 220 of 378
On station 4 AV-9 ST -> 221 of 378
On station 15 ST-PROSPECT -> 222 of 378
On station DITMAS AV -> 223 of 378
On station AVENUE I -> 224 of 378
On station AVENUE N -> 225 of 378
On station AVENUE P -> 226 of 378
On station AVENUE X -> 227 of 378
On station NEPTUNE AV -> 228 of 378
On station 57 ST -> 229 of 378
On station LEXINGTON AV/63 -> 230 of 378
On station ROOSEVELT ISLND -> 231 of 378
On station 21 ST-QNSBRIDGE -> 232 of 378
On station JAMAICA VAN WK -> 233 of 378
On station SUTPHIN-ARCHER -> 234 of 378
On station JAMAICA CENTER -> 235 of 378
On station 72 ST-2 AVE -> 236 of 378
On station 86 ST-2 AVE -> 237 of 378
On station 96 ST-2 AVE -> 238 of 378
On station NEWARK HW BMEBE -> 239 of 378
On station HARRISON -> 240 of 378
On station JOURNAL SQUARE -> 241 of 378
On station GROVE STREET -> 242 of 378
On station EXCHANGE PLACE -> 243 of 378
On station PAVONIA/NEWPORT -> 244 of 378
On station CITY / BUS -> 245 of 378
On station CHRISTOPHER ST -> 246 of 378
On station 9TH STREET -> 247 of 378
On station 14TH STREET -> 248 of 378
On station TWENTY THIRD ST -> 249 of 378
On station THIRTY ST -> 250 of 378
On station LACKAWANNA -> 251 of 378
On station THIRTY THIRD ST -> 252 of 378
On station NEWARK BM BW -> 253 of 378
On station NEWARK C -> 254 of 378
On station NEWARK HM HE -> 255 of 378
On station PATH WTC 2 -> 256 of 378
On station PATH NEW WTC -> 257 of 378
On station SOUTH FERRY -> 258 of 378
On station WTC-CORTLANDT -> 259 of 378
On station WALL ST -> 260 of 378
On station FRANKLIN ST -> 261 of 378
On station HOUSTON ST -> 262 of 378
On station 18 ST -> 263 of 378
On station 66 ST-LINCOLN -> 264 of 378
On station 116 ST-COLUMBIA -> 265 of 378
On station 137 ST CITY COL -> 266 of 378
On station 157 ST -> 267 of 378
On station 191 ST -> 268 of 378
On station 207 ST -> 269 of 378
On station 215 ST -> 270 of 378
On station MARBLE HILL-225 -> 271 of 378
On station 231 ST -> 272 of 378
On station 238 ST -> 273 of 378
On station V.CORTLANDT PK -> 274 of 378
On station BOWLING GREEN -> 275 of 378

On station BROOKLYN BRIDGE -> 276 of 378
On station BLEECKER ST -> 277 of 378
On station ASTOR PL -> 278 of 378
On station 33 ST -> 279 of 378
On station GRD CNTRL-42 ST -> 280 of 378
On station 51 ST -> 281 of 378
On station 68ST-HUNTER CO -> 282 of 378
On station 110 ST -> 283 of 378
On station 138/GRAND CONC -> 284 of 378
On station 149/GRAND CONC -> 285 of 378
On station MT EDEN AV -> 286 of 378
On station 176 ST -> 287 of 378
On station BURNSIDE AV -> 288 of 378
On station 183 ST -> 289 of 378
On station MOSHOLU PKWY -> 290 of 378
On station WOODLAWN -> 291 of 378
On station CENTRAL PK N110 -> 292 of 378
On station HARLEM 148 ST -> 293 of 378
On station 3 AV-149 ST -> 294 of 378
On station JACKSON AV -> 295 of 378
On station INTERVALE AV -> 296 of 378
On station SIMPSON ST -> 297 of 378
On station FREEMAN ST -> 298 of 378
On station 174 ST -> 299 of 378
On station WEST FARMS SQ -> 300 of 378
On station E 180 ST -> 301 of 378
On station BRONX PARK EAST -> 302 of 378
On station PELHAM PKWY -> 303 of 378
On station ALLERTON AV -> 304 of 378
On station BURKE AV -> 305 of 378
On station GUN HILL RD -> 306 of 378
On station 219 ST -> 307 of 378
On station 225 ST -> 308 of 378
On station 233 ST -> 309 of 378
On station NEREID AV -> 310 of 378
On station WAKEFIELD/241 -> 311 of 378
On station 3 AV 138 ST -> 312 of 378
On station BROOK AV -> 313 of 378
On station CYPRESS AV -> 314 of 378
On station E 143/ST MARY'S -> 315 of 378
On station E 149 ST -> 316 of 378
On station LONGWOOD AV -> 317 of 378
On station HUNTS POINT AV -> 318 of 378
On station WHITLOCK AV -> 319 of 378
On station ELDER AV -> 320 of 378
On station MORISN AV/SNDVW -> 321 of 378
On station ST LAWRENCE AV -> 322 of 378
On station PARKCHESTER -> 323 of 378
On station CASTLE HILL AV -> 324 of 378
On station ZEREGA AV -> 325 of 378
On station WESTCHESTER SQ -> 326 of 378
On station MIDDLETOWN RD -> 327 of 378
On station BUHRE AV -> 328 of 378
On station PELHAM BAY PARK -> 329 of 378
On station 5 AVE -> 330 of 378
On station VERNON-JACKSON -> 331 of 378
On station HUNTERS PT AV -> 332 of 378
On station QUEENSBORO PLZ -> 333 of 378
On station 39 AV -> 334 of 378
On station 36 AV -> 335 of 378
On station 30 AV -> 336 of 378
On station ASTORIA BLVD -> 337 of 378
On station ASTORIA DITMARS -> 338 of 378
On station 33 ST-RAWSON ST -> 339 of 378
On station 40 ST LOWERY ST -> 340 of 378
On station 46 ST BLISS ST -> 341 of 378
On station 52 ST -> 342 of 378
On station 61 ST WOODSIDE -> 343 of 378
On station 69 ST -> 344 of 378
On station 74 ST-BROADWAY -> 345 of 378
On station 82 ST-JACKSON H -> 346 of 378
On station 90 ST-ELMHURST -> 347 of 378
On station JUNCTION BLVD -> 348 of 378
On station 103 ST-CORONA -> 349 of 378
On station METS-WILLETS PT -> 350 of 378
On station FLUSHING-MAIN -> 351 of 378
On station 34 ST-HUDSON YD -> 352 of 378
On station HOYT ST -> 353 of 378
On station NEVINS ST -> 354 of 378
On station GRAND ARMY PLAZ -> 355 of 378
On station EASTN PKWY-MUSM -> 356 of 378
On station KINGSTON AV -> 357 of 378
On station CROWN HTS-UTICA -> 358 of 378
On station SUTTER AV-RUTLD -> 359 of 378
On station SARATOGA AV -> 360 of 378
On station JUNIUS ST -> 361 of 378
On station PENNSYLVANIA AV -> 362 of 378
On station NEW LOTS AV -> 363 of 378
On station PRESIDENT ST -> 364 of 378
On station STERLING ST -> 365 of 378
On station WINTHROP ST -> 366 of 378
On station BEVERLY RD -> 367 of 378
On station NEWKIRK AV -> 368 of 378
On station FLATBUSH AV-B.C -> 369 of 378
On station MORRIS PARK -> 370 of 378
On station BAYCHESTER AV -> 371 of 378
On station EASTCHSTER/DYRE -> 372 of 378
On station ST. GEORGE -> 373 of 378
On station TOMPKINSVILLE -> 374 of 378
On station RIT-MANHATTAN -> 375 of 378
On station RIT-ROOSEVELT -> 376 of 378
On station CLARK ST -> 377 of 378

In [ ]:
    print(f"On station {station} -> {stations22.index(station)} of {len(stations22)}")

In [33]:
total22_by_months[stations22[0]]["february"]["exits"]

30488583262

In [34]:
total22_by_months[stations22[0]]

{'january': {'entries': 65531785643, 'exits': 33515973446},
 'february': {'entries': 59699421476, 'exits': 30488583262},
 'march': {'entries': 65728402813, 'exits': 34017988212},
 'april': {'entries': 61507767559, 'exits': 31814164077}}

In [38]:
total22_by_months

{'59 ST': {'january': {'entries': 65531785643, 'exits': 33515973446},
  'february': {'entries': 59699421476, 'exits': 30488583262},
  'march': {'entries': 65728402813, 'exits': 34017988212},
  'april': {'entries': 61507767559, 'exits': 31814164077}},
 '5 AV/59 ST': {'january': {'entries': 27864275056, 'exits': 7025300347},
  'february': {'entries': 25119308664, 'exits': 6425678320},
  'march': {'entries': 27780082334, 'exits': 7073263326},
  'april': {'entries': 26069921964, 'exits': 6715438257}},
 '57 ST-7 AV': {'january': {'entries': 179139881897, 'exits': 97730074376},
  'february': {'entries': 161846833896, 'exits': 88319737673},
  'march': {'entries': 184403306534, 'exits': 100766358414},
  'april': {'entries': 170408834251, 'exits': 93077158199}},
 '49 ST': {'january': {'entries': 16510702812, 'exits': 26056482347},
  'february': {'entries': 14922427089, 'exits': 23532622530},
  'march': {'entries': 16475321271, 'exits': 25981690929},
  'april': {'entries': 15537912489, 'exits': 24498188342}},
 'TIMES SQ-42 ST': {'january': {'entries': 1034515721929,
   'exits': 820808179408},
  'february': {'entries': 933198777950, 'exits': 740279365914},
  'march': {'entries': 1024070310636, 'exits': 817444747379},
  'april': {'entries': 964913462256, 'exits': 768159354262}},
 '34 ST-HERALD SQ': {'january': {'entries': 400179079517,
   'exits': 541910802068},
  'february': {'entries': 362846222356, 'exits': 491981123480},
  'march': {'entries': 397181241345, 'exits': 538661844237},
  'april': {'entries': 485008248287, 'exits': 616916590323}},
 '28 ST': {'january': {'entries': 239766221036, 'exits': 317142340626},
  'february': {'entries': 216632284892, 'exits': 286747013292},
  'march': {'entries': 238637938834, 'exits': 316074249357},
  'april': {'entries': 224496358869, 'exits': 297233653795}},
 '23 ST': {'january': {'entries': 1073423464101, 'exits': 1080821446831},
  'february': {'entries': 965780488389, 'exits': 973548014672},
  'march': {'entries': 1065374289021, 'exits': 1072433143836},
  'april': {'entries': 1007012089050, 'exits': 1014731812428}},
 '14 ST-UNION SQ': {'january': {'entries': 47904123213, 'exits': 35220938040},
  'february': {'entries': 42160991241, 'exits': 31158465658},
  'march': {'entries': 47152020811, 'exits': 34832981605},
  'april': {'entries': 44798519190, 'exits': 33478758042}},
 '8 ST-NYU': {'january': {'entries': 20042541417, 'exits': 7251877846},
  'february': {'entries': 18125776679, 'exits': 6581228806},
  'march': {'entries': 19878278481, 'exits': 7247886778},
  'april': {'entries': 18856173416, 'exits': 6904399124}},
 'PRINCE ST': {'january': {'entries': 14130773017, 'exits': 9420117560},
  'february': {'entries': 12860440846, 'exits': 8573094602},
  'march': {'entries': 14079923655, 'exits': 9401491981},
  'april': {'entries': 13363190477, 'exits': 8882491245}},
 'CANAL ST': {'january': {'entries': 751608498025, 'exits': 1011721896533},
  'february': {'entries': 682456279604, 'exits': 917141566256},
  'march': {'entries': 760553748341, 'exits': 1028239674353},
  'april': {'entries': 705253271437, 'exits': 948653989252}},
 'CITY HALL': {'january': {'entries': 26555792500, 'exits': 2330048721},
  'february': {'entries': 24121511039, 'exits': 2121643320},
  'march': {'entries': 26573207692, 'exits': 2343839943},
  'april': {'entries': 25003084480, 'exits': 2212254829}},
 'CORTLANDT ST': {'january': {'entries': 482718747141, 'exits': 171113319377},
  'february': {'entries': 438401903817, 'exits': 155426228808},
  'march': {'entries': 490501453892, 'exits': 173903745239},
  'april': {'entries': 456638238017, 'exits': 161932073136}},
 'RECTOR ST': {'january': {'entries': 34423190084, 'exits': 10792353414},
  'february': {'entries': 31137389772, 'exits': 9790366708},
  'march': {'entries': 34297046206, 'exits': 10796200704},
  'april': {'entries': 32161226789, 'exits': 10155464516}},
 'WHITEHALL S-FRY': {'january': {'entries': 52580079667, 'exits': 13959018766},
  'february': {'entries': 47510611319, 'exits': 12634034539},
  'march': {'entries': 52626265990, 'exits': 14022706861},
  'april': {'entries': 49519207307, 'exits': 13214240698}},
 'DELANCEY/ESSEX': {'january': {'entries': 14135502900, 'exits': 12456745782},
  'february': {'entries': 12754343382, 'exits': 11265235222},
  'march': {'entries': 14224188510, 'exits': 12595991809},
  'april': {'entries': 13376473740, 'exits': 11843121406}},
 'BOWERY': {'january': {'entries': 2530294573, 'exits': 2339440740},
  'february': {'entries': 2290400321, 'exits': 2126665461},
  'march': {'entries': 2528443420, 'exits': 2356645412},
  'april': {'entries': 2384768100, 'exits': 2230110678}},
 'CHAMBERS ST': {'january': {'entries': 731678365545, 'exits': 492587996003},
  'february': {'entries': 651605342690, 'exits': 437137563200},
  'march': {'entries': 718772925530, 'exits': 482356761102},
  'april': {'entries': 672640463252, 'exits': 451027903906}},
 'FULTON ST': {'january': {'entries': 1271015069602, 'exits': 1045093582399},
  'february': {'entries': 1161050364744, 'exits': 949957491918},
  'march': {'entries': 1285461360172, 'exits': 1054082475571},
  'april': {'entries': 1195725672411, 'exits': 981367138787}},
 'BROAD ST': {'january': {'entries': 2426712928, 'exits': 1595899259},
  'february': {'entries': 2188269767, 'exits': 1439235083},
  'march': {'entries': 2426788234, 'exits': 1597860557},
  'april': {'entries': 2285130216, 'exits': 1503924691}},
 '7 AV': {'january': {'entries': 16057805900, 'exits': 17448653592},
  'february': {'entries': 14517668134, 'exits': 15802023297},
  'march': {'entries': 16290640054, 'exits': 17723923636},
  'april': {'entries': 15527957153, 'exits': 16873369782}},
 'PARK PLACE': {'january': {'entries': 3900257736, 'exits': 4101440083},
  'february': {'entries': 3542039425, 'exits': 3728177801},
  'march': {'entries': 3922274604, 'exits': 4132521113},
  'april': {'entries': 3683808037, 'exits': 3884104999}},
 'BOTANIC GARDEN': {'january': {'entries': 1170394098, 'exits': 736655976},
  'february': {'entries': 1060258512, 'exits': 671902500},
  'march': {'entries': 1177366689, 'exits': 751595817},
  'april': {'entries': 1098598033, 'exits': 706760484}},
 'PROSPECT PARK': {'january': {'entries': 299322516271, 'exits': 151275596983},
  'february': {'entries': 268795131466, 'exits': 135861337600},
  'march': {'entries': 297753824189, 'exits': 150504132109},
  'april': {'entries': 280133520586, 'exits': 141618906544}},
 'PARKSIDE AV': {'january': {'entries': 8026254177, 'exits': 7015113290},
  'february': {'entries': 7261315149, 'exits': 6349921651},
  'march': {'entries': 8053374263, 'exits': 7046567415},
  'april': {'entries': 7546852517, 'exits': 6607544675}},
 'CHURCH AV': {'january': {'entries': 227697805211, 'exits': 323055124584},
  'february': {'entries': 207992180709, 'exits': 296376761656},
  'march': {'entries': 226218605407, 'exits': 321338241510},
  'april': {'entries': 215281583325, 'exits': 306259821684}},
 'BEVERLEY ROAD': {'january': {'entries': 2312609788, 'exits': 2727169323},
  'february': {'entries': 2108387179, 'exits': 2487781827},
  'march': {'entries': 2316363341, 'exits': 2735210061},
  'april': {'entries': 2186724440, 'exits': 2584809485}},
 'CORTELYOU RD': {'january': {'entries': 2074890193, 'exits': 784592437},
  'february': {'entries': 1886095087, 'exits': 714632553},
  'march': {'entries': 2091115877, 'exits': 793931638},
  'april': {'entries': 1962000713, 'exits': 746238113}},
 'NEWKIRK PLAZA': {'january': {'entries': 9958293992, 'exits': 9101865847},
  'february': {'entries': 9014164120, 'exits': 8247368257},
  'march': {'entries': 76275221085, 'exits': 64975862601},
  'april': {'entries': 102868519698, 'exits': 87439018245}},
 'AVENUE H': {'january': {'entries': 23256702780, 'exits': 346715570},
  'february': {'entries': 23020019672, 'exits': 352095417},
  'march': {'entries': 22541557651, 'exits': 354880542},
  'april': {'entries': 21087678686, 'exits': 341423952}},
 'AVENUE J': {'january': {'entries': 4604354372, 'exits': 2943353383},
  'february': {'entries': 4121574068, 'exits': 2635534019},
  'march': {'entries': 4535338859, 'exits': 2901766501},
  'april': {'entries': 4279307573, 'exits': 2739678500}},
 'AVENUE M': {'january': {'entries': 21363768198, 'exits': 821791708},
  'february': {'entries': 19212216513, 'exits': 749432960},
  'march': {'entries': 21155921779, 'exits': 820980471},
  'april': {'entries': 19766376828, 'exits': 742699303}},
 'KINGS HWY': {'january': {'entries': 115868053782, 'exits': 75676580291},
  'february': {'entries': 104851405920, 'exits': 68542298630},
  'march': {'entries': 115711356573, 'exits': 75636711015},
  'april': {'entries': 108618963497, 'exits': 71153251156}},
 'AVENUE U': {'january': {'entries': 280086168655, 'exits': 137045767776},
  'february': {'entries': 249560394167, 'exits': 122458599760},
  'march': {'entries': 261762023231, 'exits': 136173471241},
  'april': {'entries': 238648680982, 'exits': 126734392442}},
 'NECK RD': {'january': {'entries': 20878703607, 'exits': 375815292},
  'february': {'entries': 18866347307, 'exits': 342376956},
  'march': {'entries': 20785324684, 'exits': 380545753},
  'april': {'entries': 19292105193, 'exits': 367701082}},
 'SHEEPSHEAD BAY': {'january': {'entries': 10018572462, 'exits': 9410137201},
  'february': {'entries': 9068228016, 'exits': 8512475352},
  'march': {'entries': 10085716282, 'exits': 9485619250},
  'april': {'entries': 9457153500, 'exits': 8910023757}},
 'BRIGHTON BEACH': {'january': {'entries': 15250775000, 'exits': 13206474065},
  'february': {'entries': 13871493553, 'exits': 12017204335},
  'march': {'entries': 15288100667, 'exits': 13248829943},
  'april': {'entries': 14743424906, 'exits': 12853287121}},
 'OCEAN PKWY': {'january': {'entries': 3019351840, 'exits': 2624616329},
  'february': {'entries': 2714528353, 'exits': 2359377699},
  'march': {'entries': 2926133824, 'exits': 2455469265},
  'april': {'entries': 2838144694, 'exits': 2462731642}},
 'BOROUGH HALL': {'january': {'entries': 32635349956, 'exits': 7005653783},
  'february': {'entries': 29516748780, 'exits': 6368415129},
  'march': {'entries': 32652549379, 'exits': 7112050861},
  'april': {'entries': 30691534092, 'exits': 6724436183}},
 'JAY ST-METROTEC': {'january': {'entries': 147635025426,
   'exits': 162761566211},
  'february': {'entries': 133432069508, 'exits': 147065740898},
  'march': {'entries': 150006785386, 'exits': 165617772181},
  'april': {'entries': 138580427527, 'exits': 152510151156}},
 'DEKALB AV': {'january': {'entries': 1222385341324, 'exits': 820883144342},
  'february': {'entries': 1097876025227, 'exits': 734665917433},
  'march': {'entries': 1236201896152, 'exits': 833029040435},
  'april': {'entries': 1140385580577, 'exits': 763925387631}},
 'ATL AV-BARCLAY': {'january': {'entries': 160763785696, 'exits': 25604163614},
  'february': {'entries': 147198507977, 'exits': 23419345926},
  'march': {'entries': 160116080375, 'exits': 25775939200},
  'april': {'entries': 150976044172, 'exits': 24760158175}},
 'UNION ST': {'january': {'entries': 5536856695, 'exits': 5454641947},
  'february': {'entries': 5012872128, 'exits': 4942208694},
  'march': {'entries': 5534347924, 'exits': 5461574778},
  'april': {'entries': 5218700186, 'exits': 5155004682}},
 '4AV-9 ST': {'january': {'entries': 48700975287, 'exits': 3959101156},
  'february': {'entries': 43750737016, 'exits': 3563814478},
  'march': {'entries': 49004499255, 'exits': 4028934353},
  'april': {'entries': 45373195496, 'exits': 3751323255}},
 'PROSPECT AV': {'january': {'entries': 24229928476, 'exits': 13669003888},
  'february': {'entries': 21994581435, 'exits': 12385890037},
  'march': {'entries': 24344950949, 'exits': 13703952422},
  'april': {'entries': 23026899130, 'exits': 13212873069}},
 '25 ST': {'january': {'entries': 4190927157, 'exits': 4402727310},
  'february': {'entries': 3793297720, 'exits': 3992883629},
  'march': {'entries': 4185621736, 'exits': 4408588510},
  'april': {'entries': 3932845169, 'exits': 4154433374}},
 '36 ST': {'january': {'entries': 29316590064, 'exits': 6031669481},
  'february': {'entries': 26411269794, 'exits': 5479334690},
  'march': {'entries': 29501407449, 'exits': 6114926681},
  'april': {'entries': 27540286597, 'exits': 5757067310}},
 '45 ST': {'january': {'entries': 2885810224, 'exits': 2394806428},
  'february': {'entries': 2637375543, 'exits': 2189243760},
  'march': {'entries': 2919664532, 'exits': 2425489897},
  'april': {'entries': 2760367723, 'exits': 2290188560}},
 '53 ST': {'january': {'entries': 23665945975, 'exits': 28630072533},
  'february': {'entries': 21797565537, 'exits': 26375150562},
  'march': {'entries': 23332311375, 'exits': 28238049313},
  'april': {'entries': 21966823844, 'exits': 26590837435}},
 'BAY RIDGE AV': {'january': {'entries': 294389454489, 'exits': 146000172961},
  'february': {'entries': 270664631357, 'exits': 134239407187},
  'march': {'entries': 291260502393, 'exits': 144460509451},
  'april': {'entries': 281781092617, 'exits': 139765331436}},
 '77 ST': {'january': {'entries': 29594574379, 'exits': 19556925947},
  'february': {'entries': 26702019969, 'exits': 17769856951},
  'march': {'entries': 29603232053, 'exits': 17649227993},
  'april': {'entries': 27656425603, 'exits': 15615934477}},
 '86 ST': {'january': {'entries': 66640413899, 'exits': 69644024565},
  'february': {'entries': 60166188521, 'exits': 62864968358},
  'march': {'entries': 70886915711, 'exits': 73898905299},
  'april': {'entries': 178242812511, 'exits': 168220734788}},
 'BAY RIDGE-95 ST': {'january': {'entries': 55404856401, 'exits': 4267659919},
  'february': {'entries': 51219384574, 'exits': 3989458663},
  'march': {'entries': 54856211423, 'exits': 4265583753},
  'april': {'entries': 52734930066, 'exits': 4069742496}},
 '8 AV': {'january': {'entries': 28191958590, 'exits': 13847809771},
  'february': {'entries': 25507150696, 'exits': 12572445846},
  'march': {'entries': 28327903100, 'exits': 14019367802},
  'april': {'entries': 26570701340, 'exits': 13204247204}},
 'FT HAMILTON PKY': {'january': {'entries': 7828147499, 'exits': 5027129996},
  'february': {'entries': 7119950626, 'exits': 4571822356},
  'march': {'entries': 7912620178, 'exits': 5079511026},
  'april': {'entries': 7431686405, 'exits': 4777713333}},
 'NEW UTRECHT AV': {'january': {'entries': 3283603263, 'exits': 3678289231},
  'february': {'entries': 2977819063, 'exits': 3334528290},
  'march': {'entries': 3311086489, 'exits': 3706109347},
  'april': {'entries': 3110862621, 'exits': 3480762398}},
 '18 AV': {'january': {'entries': 722976780926, 'exits': 414399315887},
  'february': {'entries': 653042547021, 'exits': 374314700704},
  'march': {'entries': 721316882032, 'exits': 413628773503},
  'april': {'entries': 676533212872, 'exits': 387709259477}},
 '20 AV': {'january': {'entries': 5461820429, 'exits': 3844466080},
  'february': {'entries': 4950925504, 'exits': 3487114649},
  'march': {'entries': 5494193083, 'exits': 3873517580},
  'april': {'entries': 5286910835, 'exits': 3738302388}},
 'BAY PKWY': {'january': {'entries': 398393777893, 'exits': 606696953535},
  'february': {'entries': 359868251470, 'exits': 548020663866},
  'march': {'entries': 400091039993, 'exits': 606898430487},
  'april': {'entries': 372755403983, 'exits': 567641161648}},
 '9 AV': {'january': {'entries': 6013795219, 'exits': 5909524475},
  'february': {'entries': 5411156265, 'exits': 5321942845},
  'march': {'entries': 5988553435, 'exits': 5896172602},
  'april': {'entries': 5666452398, 'exits': 5582225776}},
 '50 ST': {'january': {'entries': 141241370440, 'exits': 135792657905},
  'february': {'entries': 127111678945, 'exits': 122164911171},
  'march': {'entries': 140508551275, 'exits': 135024214041},
  'april': {'entries': 131970585742, 'exits': 126641911688}},
 '55 ST': {'january': {'entries': 2533135519, 'exits': 1789399802},
  'february': {'entries': 2305177324, 'exits': 1627699972},
  'march': {'entries': 2544069654, 'exits': 1795512730},
  'april': {'entries': 2398167760, 'exits': 1691817025}},
 '71 ST': {'january': {'entries': 5300281108, 'exits': 3082627178},
  'february': {'entries': 4739606740, 'exits': 2747760404},
  'march': {'entries': 5251110074, 'exits': 3047782595},
  'april': {'entries': 4951352661, 'exits': 2872220287}},
 '79 ST': {'january': {'entries': 113814273660, 'exits': 109720530345},
  'february': {'entries': 102959366133, 'exits': 99147048514},
  'march': {'entries': 113407413321, 'exits': 109214727276},
  'april': {'entries': 106958379883, 'exits': 102867683178}},
 '25 AV': {'january': {'entries': 2209659577, 'exits': 613488081},
  'february': {'entries': 1994573584, 'exits': 553594107},
  'march': {'entries': 2219604221, 'exits': 616288702},
  'april': {'entries': 2135288434, 'exits': 593368532}},
 'BAY 50 ST': {'january': {'entries': 2567703170, 'exits': 1727734918},
  'february': {'entries': 2331763327, 'exits': 1564993814},
  'march': {'entries': 2589076364, 'exits': 1736271466},
  'april': {'entries': 2429309262, 'exits': 1628619926}},
 'CONEY IS-STILLW': {'january': {'entries': 120832272905,
   'exits': 63423579561},
  'february': {'entries': 108590592338, 'exits': 57023157340},
  'march': {'entries': 120887364411, 'exits': 63488720170},
  'april': {'entries': 112553804348, 'exits': 59163460707}},
 'W 8 ST-AQUARIUM': {'january': {'entries': 2796970120, 'exits': 2819709127},
  'february': {'entries': 2181307858, 'exits': 2376681319},
  'march': {'entries': 2114463194, 'exits': 2473078675},
  'april': {'entries': 1989098398, 'exits': 2329310154}},
 '6 AV': {'january': {'entries': 230764335253, 'exits': 225635659730},
  'february': {'entries': 208431163939, 'exits': 203806546763},
  'march': {'entries': 228273911747, 'exits': 223222575352},
  'april': {'entries': 214632613167, 'exits': 209887694714}},
 '3 AV': {'january': {'entries': 5157061930, 'exits': 5531903341},
  'february': {'entries': 4673279206, 'exits': 5011827655},
  'march': {'entries': 5165841520, 'exits': 5556261895},
  'april': {'entries': 4870250216, 'exits': 5249216738}},
 '1 AV': {'january': {'entries': 379181994198, 'exits': 380036240772},
  'february': {'entries': 281144420190, 'exits': 281225256778},
  'march': {'entries': 85261541440, 'exits': 83333917703},
  'april': {'entries': 81072302889, 'exits': 79297417480}},
 'BEDFORD AV': {'january': {'entries': 48540852808, 'exits': 66375312974},
  'february': {'entries': 43922860601, 'exits': 60058902508},
  'march': {'entries': 47195128090, 'exits': 64539189349},
  'april': {'entries': 46187560748, 'exits': 63207338966}},
 'LORIMER ST': {'january': {'entries': 3931815835, 'exits': 1442868310},
  'february': {'entries': 3577833267, 'exits': 1333757310},
  'march': {'entries': 3962482797, 'exits': 1497919243},
  'april': {'entries': 3699881876, 'exits': 1358955811}},
 'GRAHAM AV': {'january': {'entries': 6566438460, 'exits': 4520917296},
  'february': {'entries': 5945288781, 'exits': 4102439039},
  'march': {'entries': 6558593741, 'exits': 4518459305},
  'april': {'entries': 6186816381, 'exits': 4279875334}},
 'GRAND ST': {'january': {'entries': 17300212841, 'exits': 15424155418},
  'february': {'entries': 15588133727, 'exits': 13847502352},
  'march': {'entries': 17294312742, 'exits': 15525774812},
  'april': {'entries': 16307381951, 'exits': 14619562085}},
 'MONTROSE AV': {'january': {'entries': 28005324753, 'exits': 2414261989},
  'february': {'entries': 25296106671, 'exits': 2014498315},
  'march': {'entries': 28030722429, 'exits': 2442852586},
  'april': {'entries': 26083992700, 'exits': 2287347341}},
 'MORGAN AV': {'january': {'entries': 764097298, 'exits': 382027778},
  'february': {'entries': 694971317, 'exits': 356909200},
  'march': {'entries': 782031298, 'exits': 416365702},
  'april': {'entries': 748575465, 'exits': 409851694}},
 'JEFFERSON ST': {'january': {'entries': 2426979939, 'exits': 1334377491},
  'february': {'entries': 2203707238, 'exits': 1211581691},

In [39]:
all_21_totals = []
all_22_totals = []

all_21_totals.append(total21_by_months)
all_22_totals.append(total22_by_months)

In [40]:
df1 = pd.DataFrame (all_21_totals)
df1

,59 ST,5 AV/59 ST,57 ST-7 AV,49 ST,TIMES SQ-42 ST,34 ST-HERALD SQ,28 ST,23 ST,14 ST-UNION SQ,8 ST-NYU,...,BEVERLY RD,NEWKIRK AV,FLATBUSH AV-B.C,MORRIS PARK,BAYCHESTER AV,EASTCHSTER/DYRE,ST. GEORGE,TOMPKINSVILLE,RIT-MANHATTAN,RIT-ROOSEVELT
0,"{'january': {'entries': 257160916808, 'exits':...","{'january': {'entries': 26494007043, 'exits': ...","{'january': {'entries': 175792581910, 'exits':...","{'january': {'entries': 17417145704, 'exits': ...","{'january': {'entries': 656431916564, 'exits':...","{'january': {'entries': 585872169913, 'exits':...","{'january': {'entries': 230154617510, 'exits':...","{'january': {'entries': 1033858050590, 'exits'...","{'january': {'entries': 51910459215, 'exits': ...","{'january': {'entries': 19122803647, 'exits': ...",...,"{'january': {'entries': 15329310513, 'exits': ...","{'january': {'entries': 8700995067, 'exits': 3...","{'january': {'entries': 255984539744, 'exits':...","{'january': {'entries': 1712057741, 'exits': 1...","{'january': {'entries': 371840517009, 'exits':...","{'january': {'entries': 380210575439, 'exits':...","{'january': {'entries': 226395187411, 'exits':...","{'january': {'entries': 458122174, 'exits': 12...","{'january': {'entries': 257946080, 'exits': 52...","{'january': {'entries': 1486207946, 'exits': 8..."

In [41]:
df2 = pd.DataFrame (all_22_totals)
df2

,59 ST,5 AV/59 ST,57 ST-7 AV,49 ST,TIMES SQ-42 ST,34 ST-HERALD SQ,28 ST,23 ST,14 ST-UNION SQ,8 ST-NYU,...,NEWKIRK AV,FLATBUSH AV-B.C,MORRIS PARK,BAYCHESTER AV,EASTCHSTER/DYRE,ST. GEORGE,TOMPKINSVILLE,RIT-MANHATTAN,RIT-ROOSEVELT,CLARK ST
0,"{'january': {'entries': 65531785643, 'exits': ...","{'january': {'entries': 27864275056, 'exits': ...","{'january': {'entries': 179139881897, 'exits':...","{'january': {'entries': 16510702812, 'exits': ...","{'january': {'entries': 1034515721929, 'exits'...","{'january': {'entries': 400179079517, 'exits':...","{'january': {'entries': 239766221036, 'exits':...","{'january': {'entries': 1073423464101, 'exits'...","{'january': {'entries': 47904123213, 'exits': ...","{'january': {'entries': 20042541417, 'exits': ...",...,"{'january': {'entries': 9218366865, 'exits': 3...","{'january': {'entries': 7722592595, 'exits': 5...","{'january': {'entries': 1826384605, 'exits': 1...","{'january': {'entries': 384314293752, 'exits':...","{'january': {'entries': 392980665029, 'exits':...","{'january': {'entries': 236300556199, 'exits':...","{'january': {'entries': 483600199, 'exits': 13...","{'january': {'entries': 409673494, 'exits': 29...","{'january': {'entries': 1727680387, 'exits': 9...","{'january': {'entries': 509738670, 'exits': 49..."

In [42]:
df1.to_csv ("2021_turnstilescrape.csv", index= False, encoding = "UTF-8")

In [44]:
df2.to_csv ("2022_turnstilescrape.csv", index= False, encoding = "UTF-8")